@import url('https://fonts.googleapis.com/css2?family=poppins&family=Roboto&family=open+sans');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'poppins','open sans', 'Roboto', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: #222222;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.main-body {
  width: 80%;
  margin: auto;
}