.product {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}
.product-img {
    height: 240px;
    width: 100%;
    border-radius: 3px;
    object-fit: contain;
}
.product img  {
    height: 100%;
    width: auto;
}
.product-body {
    padding: 5px;
}
.product-category {
    font-size: 13px;
    font-weight: 400;
    color: grey;
    margin-bottom: 5px;
}
.product-name {
    color: #1e1e1e;
    margin: 5px 0 10px;
    text-transform: capitalize;
}
.product-price {
    margin: 5px 0;
}
.add-to-cart {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 5px;
}
.add-to-cart-btn {
    background: light-grey;
    border: none;
    height: auto;
}
.add-to-cart-btn:hover, .add-to-cart-btn:active {
    background: grey;
    color: white;
}
@media screen and (max-width > 576px) {
    .product {width: 100%;}
} 